<aside id="application-sidebar-brand"
    class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed xl:top-5 xl:left-auto top-0 left-0 with-vertical h-screen z-[999] shrink-0 w-[270px] shadow-md xl:rounded-md rounded-none bg-white left-sidebar transition-all duration-300">
    <!-- ---------------------------------- -->
    <!-- Start Vertical Layout Sidebar -->
    <!-- ---------------------------------- -->
    <div class="p-4">
        <a href="/dashboard" class="text-nowrap">
            <img src="../images/admin.png" alt="Logo-Dark" />
        </a>
    </div>
    <div class="scroll-sidebar" data-simplebar="">
        <nav class="w-full flex flex-col sidebar-nav px-4 mt-5">
            <ul id="sidebarnav" class="text-gray-600 text-sm">
                <li class="text-xs font-bold pb-[5px]">
                    <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
                    <span class="text-xs text-gray-400 font-semibold">QUẢN TRỊ</span>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full"
                        href="/dashboard">
                        <i class="ti ti-layout-dashboard ps-2 text-2xl"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="text-xs font-bold mb-4 mt-6">
                    <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
                    <span class="text-xs text-gray-400 font-semibold">CHỨC NĂNG</span>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full"
                        href="/dashboard/member">
                        <i class="ti ti-briefcase ps-2 text-2xl"></i>
                        <span>Quản Lý Nhân Viên</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full"
                        href="/dashboard/customer">
                        <i class="ti ti-user-circle ps-2 text-2xl"></i>
                        <span>Quản Lý Khách Hàng</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full"
                        href="/dashboard/hoadon">
                        <i class="ti ti-receipt ps-2 text-2xl"></i>
                        <span>Hoá Đơn</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full"
                        href="/dashboard/revenue">
                        <i class="ti ti-ticket ps-2 text-2xl"></i>
                        <span>Doanh Thu</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full"
                        href="/dashboard/warehouse">
                        <i class="ti ti-layout ps-2 text-2xl"></i>
                        <span>Kho</span>
                    </a>
                </li>
                <form id="logoutForm" action="/logout" method="post">
                    <div class="m-4 relative grid">
                        <button type="button"
                            class="text-base font-semibold bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md"
                            id="logoutBtn">
                            ĐĂNG XUẤT
                        </button>
                    </div>
                </form>
            </ul>
        </nav>
    </div>

    <!-- </aside> -->
</aside>